[data-md-color-scheme=slate] {
    --md-primary-fg-color: #252A33;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark: #252A33;
    --md-primary-bg-color: #687785;    
    --md-default-bg-color: #1A1E24;
    --md-accent-fg-color: #FFC844;
    --md-typeset-a-color: #FFC844;
    --md-default-fg-color--light: #FFC844;
    --md-code-bg-color: #16191E;
    --md-code-fg-color: #FFC844;
    --md-code-hl-comment-color: #8a8a8a;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-generic-color: #FFC844;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-name-color: #FFC844;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-operator-color: #20b8a4;
    --md-code-hl-punctuation-color: #ffffff;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-variable-color: #FFC844;
    --md-footer-bg-color: #252A33;
}

.md-header__button.md-logo {
    padding: .1rem;
}

body .md-header__button.md-logo img, body .md-header__button.md-logo svg {
    fill: currentColor;
    display: block;
    height: 2.6rem;
    width: 10rem;
}

body .md-nav__title {
    color: #687785;
}

.md-typeset h2 {
    color: #FFC844;
}

.md-typeset h3 {
    color: #a0cfff;
}

.md-typeset h4 {
    color: #fff;
    text-decoration: underline;
}

.md-footer__direction {
    color: #ffffff;
}

.md-ellipsis {
    color: #FFC844;
}

.md-content ul {
    list-style: none;
  }

.md-content ul li::before {
    content: image-set("../assets/shieldPointer.png" 1x, "../assets/shieldPointer@2x.png" 2x);
    color: #FFC844;
    font-weight: bold;
    font-size: 0.4rem;
    display: inline-block; 
    width: 2.4em;
    margin-left: -1em;
    vertical-align: middle;
  }

.md-typeset table:not([class]) th {
    color: #687785;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 5rem;
    padding: .9375em 1.25em;
    vertical-align: middle;
    background-color: #16191E;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.md-typeset pre>code {
    margin-bottom: 24px;
}

.md-typeset h4:before {
    content: "";
    border-bottom: 1px solid rgb(218, 218, 218);
    width: 40%;
    display: block;
    margin: 42px auto 52px auto;
}
